body{
    background-color: #ededed;
    font-family: monospace;
    margin: 0;
    padding: 0;
}
#app {
  height: 100%;
  display: grid;
}
#calcBody {
    margin: 3% auto;
    width: 400px;
}
#displayScreen {
  display: grid;
  grid-template-rows: 1fr 1fr;
  width: 400px;
  height: 100px;
  background-color: #a6a6a6;
  color: white;
}
button:focus {
    outline: none;
}
#buttons {
    display: grid;
    background-color: #cccccc;
    width: 400px;
    height: 500px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "clear clear backspace divide"
      "seven eight nine multiply"
      "four five six subtract"
      "one two three add"
      "neg zero decimal equals";
}
.numberBtn, .specialBtn {
    background-color: black;
    color: white;
    border: 1px solid grey;
    font-size: 20px;
    padding: 10px;
}
.numberBtn:hover, .specialBtn:hover, .editBtn:hover, .operateBtn:hover  {
    opacity: 0.6;
}
.numberBtn:active, .specialBtn:active, .editBtn:active, .operateBtn:active {
    opacity: 0.8;
}
.editBtn {
    background-color: #1f1f1f;
    color: white;
    font-size: x-large;
    border: 1px solid grey;
}
.operateBtn {
    background-color: #1f1f1f;
    color: white;
    font-size: x-large;
    border: 1px solid grey;
}
#equals {
    background-color: #1461ff;
    opacity: 0.5;
    grid-area: equals;
}
#equals:hover {
    opacity: 1;
}
#equals:active {
    opacity: 0.8;
}
#neg {
    font-size: 14px;
    grid-area: neg;
}
#digits {
    font-size: 40px;
    padding: 2px 5px;
    justify-self: end;
}
#calculation {
    font-size: 20px;
    padding-right: 20px;
    justify-self: end;
}
#clearScreen {
  grid-area: clear;
}
#zero {
  grid-area: zero;
}
#one {
  grid-area: one;
}
#two {
  grid-area: two;
}
#three {
  grid-area: three;
}
#four {
  grid-area: four;
}
#five {
  grid-area: five;
}
#six {
  grid-area: six;
}
#seven {
  grid-area: seven;
}
#eight {
  grid-area: eight;
}
#nine{
  grid-area: nine;
}
#decimal {
  grid-area: decimal;
}
#add {
  grid-area: add;
}
#subtract {
  grid-area: subtract;
}
#multiply {
  grid-area: multiply;
}
#divide {
  grid-area: divide;
}
#backspace {
  grid-area: backspace;
}

@media screen and (max-width: 720px){
  #app {
    height: 100vh;
    width: 100vw;
  }
  #calcBody {
    width: 95vw;
    margin: 2% auto;
  }
  #displayScreen {
    height: 15vh;
    width: 95vw;
  }
  #buttons {
    height: 80vh;
    width: 95vw
  }
}