* {
    font-family: monospace;
    margin: 0px;
}
#calcBody {
    display: grid;
    grid-template-rows: 1fr 14fr;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 10vh 10vw 10vh 10vw;
}

button:focus {
    outline: none;
}
#buttons {
    display: inline-block;
    background-color: #cccccc;
    margin: 10px;
    width: 240px;
    height: 245px;
}
#numericButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    width: 240px;
    height: 200px;
    max-width: 560px;
    max-height: 720px;
}
.numberBtn, .specialBtn {
    background-color: black;
    color: white;
    border: 1px solid grey;
    font-size: 20px;
    padding: 10px;
}
.numberBtn:hover, .specialBtn:hover, .editBtn:hover, .operateBtn:hover  {
    opacity: 0.6;
}
.numberBtn:active, .specialBtn:active, .editBtn:active, .operateBtn:active {
    opacity: 0.8;
}
#editButtons {
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 240px;
    height: 45px;
    max-width: 560px;
    max-height: 720px;
}
.editBtn {
    background-color: #1f1f1f;
    color: white;
    font-size: x-large;
    border: 1px solid grey;
}
.operateBtn {
    background-color: #1f1f1f;
    color: white;
    font-size: x-large;
    border: 1px solid grey;
}
#equals {
    background-color: #1461ff;
    opacity: 0.5;
}
#equals:hover {
    opacity: 1;
}
#equals:active {
    opacity: 0.8;
}
#neg {
    font-size: 14px;
}

#displayScreen {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 240px;
    height: 50px;
    background-color: #a6a6a6;
    color: white;
    margin: 10px;
    margin-bottom: -9px;
}
#digits {
    font-size: 20px;
    padding: 2px 5px;
    justify-self: end;
}
#calculation {
    padding-right: 10px;
    justify-self: end;
}
