* {
    font-family: monospace;  
}
#calcBody {
    display: block;
    width: fit-content;
    margin: 4% 0px 0 10%;
}
body{
    text-align: center;
    max-width: 100%;
    max-height: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
button:focus {
    outline: none;
}
#buttons {
    display: inline-block;
    background-color: #cccccc;
    width: 480px;
    height: 490px;
}
#numericButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:auto;
    width: 480px;
    height: 400px;
}
.numberBtn, .specialBtn {
    background-color: black;
    color: white;
    border: 1px solid grey;
    font-size: 20px;
    padding: 10px;
}
.numberBtn:hover, .specialBtn:hover, .editBtn:hover, .operateBtn:hover  {
    opacity: 0.6;
}
.numberBtn:active, .specialBtn:active, .editBtn:active, .operateBtn:active {
    opacity: 0.8;
}
#editButtons {
    margin: 0px;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr;
    width: 480px;
    height: 90px;
}
.editBtn {
    background-color: #1f1f1f;
    color: white;
    font-size: x-large;
    border: 1px solid grey;
}
.operateBtn {
    background-color: #1f1f1f;
    color: white;
    font-size: x-large;
    border: 1px solid grey;
}
#equals {
    background-color: #1461ff;
    opacity: 0.5;
}
#equals:hover {
    opacity: 1;
}
#equals:active {
    opacity: 0.8;
}
#neg {
    font-size: 14px;
}

#displayScreen {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 480px;
    height: 100px;
    background-color: #a6a6a6;
    color: white;
}
#digits {
    font-size: 40px;
    padding: 2px 5px;
    justify-self: end;
}
#calculation {
    font-size: 20px;
    padding-right: 20px;
    justify-self: end;
}

@media only screen and (max-width: 400px) {
#calcBody{
    margin-top: 10%;
}    
#buttons {
    width: 240px;
    height: 245px;
}
#numericButtons {
    width: 240px;
    height: 200px;
}
#editButtons {
    width: 240px;
    height: 45px;
}

#displayScreen {
    width: 240px;
    height: 50px;
}
#digits {
    font-size: 20px;
}
#calculation {
    font-size: 10px;
}
}
